# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class

*data/
*output/
*.pth
*.idea/
*.idea/misc.xml
*.pyc
*.tar

outputs/*
images/
!outputs/process_outputs.py

*.m
*.gz
*.html

code/classification/config/Exp*
code/classification/config/varied_archive